---
import type { Guest } from "../../../pages/[guest].astro";

interface Props {
  guest?: Guest;
}

const { guest } = Astro.props;
---

<section class="intro">
  <p class="description"></p>

  {
    guest && (
      <div class="guest">
        <h2 class="name">{guest.name}</h2>
        <p class="coupon">{guest.coupon && `Cupón: ${guest.coupon}`}</p>
      </div>
    )
  }

  <p class="note">
    *Solo podrás ingresar al salón de fiestas si fuiste invitado por alguno de
    los novios. No se aceptan personas que no hayan sido invitadas.
  </p>
</section>
