---
import { Image } from "astro:assets";
import type { Guest } from "../../../models/types/guest";

interface Props {
  guest?: Guest;
}

const { guest } = Astro.props;
---

<section id="guest" class="host">
  <div class="container">
    <div class="column">
      {
        guest && (
          <div class="guest">
            <h2 class="name">
              <span class="highlight">{guest.name}</span>, compartir este día
              contigo lo hace aún más especial.
            </h2>
          </div>
        )
      }

      {
        guest && (
          <div class="coupon">
            {guest.coupon ? (
              <p>
                <span>
                  ¡Qué emoción! Dispones de
                  <span class="highlight">({guest.coupon})</span>
                  {guest.coupon > 1 ? "cupones" : "cupón"}. Por cada cupón que
                  tengas podrás asistir con un acompañante extra.
                </span>
                <Image
                  src="/icons/ticket.svg"
                  alt="Coupon"
                  width={300}
                  height={200}
                  class="coupon__image"
                />
              </p>
            ) : (
              <p>
                <span>
                  El destino nos unió y queremos que seas parte de este capítulo
                  tan importante en nuestras vidas. ¡Acompáñanos!
                </span>
                <Image
                  src="/icons/cups.svg"
                  alt="Rings"
                  width={300}
                  height={200}
                  class="coupon__image"
                />
              </p>
            )}
          </div>
        )
      }
    </div>

    <div class="info">
      <p class="message">
        El amor es infinito pero el espacio es limitado, por eso hemos reservado
        con cariño tu lugar {
          guest?.coupon ? (
            guest.coupon > 1 ? (
              <span class="message__extra-guests">
                ¡y el de tus acompañantes!
              </span>
            ) : (
              "¡y el de tu acompañante!"
            )
          ) : (
            "¡tu presencia es muy importante para nosotros!"
          )
        }
      </p>

      <p class="disclaimer">
        *Esta es una reunión privada, por lo que tu identificación será
        requerida al ingresar. Por favor, ten en cuenta que este es un evento
        íntimo. Esta invitación es tan exclusiva como tú.
      </p>
    </div>
  </div>
</section>

<style>
  .host {
    position: relative;
    background-image: url("/images/guest-background.webp");
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    z-index: 0;

    @media (min-width: 768px) {
      background-image: url("/images/guest-background--tablet.webp");
    }

    @media ((min-width: 1024px)) {
      background-image: url("/images/guest-background--desktop.webp");
      background-position: right bottom;
    }
  }

  .host::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
    pointer-events: none;
  }

  .container,
  .column,
  .info {
    position: relative;
    z-index: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.75rem 9rem;
    gap: 1.6rem;

    @media (min-width: 768px) {
      padding: 4rem 2rem 15rem;
      gap: 2rem;
    }

    @media (min-width: 1024px) {
      max-width: 80rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 6rem 2rem 8rem;
      gap: 3.5rem;
    }

    @media (min-width: 85.375rem) {
      padding: 6rem 2rem 10rem;
      gap: 4.5rem;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @media (min-width: 768px) {
      gap: 2rem;
    }

    @media (min-width: 1024px) {
      gap: 2.8rem;
    }

    @media (min-width: 85.375rem) {
      gap: 3.6rem;
    }
  }

  .guest {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 2.4rem;

    @media (min-width: 768px) {
      font-size: 2.8rem;
    }

    @media (min-width: 1024px) {
      font-size: 3.8rem;
    }
  }

  .highlight {
    font-weight: bold;
  }

  .coupon {
    position: relative;
    font-size: 1.2rem;
    text-align: center;
    padding: 3rem 1.5rem;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 0.25rem;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }

    @media (min-width: 1024px) {
      padding: 2.5rem;
      font-size: 1.8rem;
    }
  }

  .coupon__image {
    position: absolute;
    top: calc(100% - 3rem);
    right: -1.2rem;
    width: 5rem;
    height: auto;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 768px) {
      gap: 2.4rem;
    }

    @media (min-width: 1024px) {
      justify-content: center;
      gap: 2.2rem;
    }
  }

  .message {
    font-size: 1.2rem;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.4rem;
    }
  }

  .message__extra-guests {
    display: block;
  }

  .disclaimer {
    font-size: 0.85rem;
    max-width: 47ch;
    text-align: justify;

    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
  }
</style>
