.toggle {
  border: none;
  background-color: transparent;
  outline: none;

  @media (min-width: 1280px) {
    display: none;
  }
}

.icon {
  position: relative;
  width: 3.25rem;
  height: 3.25rem;
}

.icon--menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.icon--close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.nav {
  position: fixed;
  top: 5.375rem;
  height: calc(100% - 5.375rem);
  left: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
  pointer-events: none;

  @media (min-width: 1280px) {
    position: static;
    width: auto;
  }
}

.menu {
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  padding-bottom: 2rem;
  background-color: white;
  transition: right 0.4s ease-in-out;
  overflow-y: auto;
  pointer-events: auto;

  @media (min-width: 1280px) {
    width: auto;
    height: auto;
    padding: 1rem 0;
    transition: none;
  }
}

.nav[hidden] .menu {
  right: -100%;

  @media (min-width: 1280px) {
    right: 0;
  }
}

.list {
  display: flex;
  width: min(100%, 28.125rem);
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 1280px) {
    flex-direction: row;
    width: unset;
    align-items: center;
    justify-content: center;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 1280px) {
    flex-direction: row;
    gap: 1.8rem;
  }
}

.button {
  background: var(--primary);
  color: var(--white);
  padding: 0.5em 1.2em;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.button:hover {
  box-shadow: 0 0.1875rem 0.3rem var(--primary-50);
  transition: box-shadow 0.2s ease-in-out;
}

.cats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  place-items: center;

  @media (min-width: 1280px) {
    display: none;
  }
}

.cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.cat__name {
  font-size: 0.875rem;
  text-align: center;
}

.link {
  position: relative;
  color: currentColor;
  text-decoration: none;
  font-size: 1.25rem;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: var(--primary);
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
}
