---
import { Image } from "astro:assets";
import { Nav } from "../Nav/Nav";
---

<header>
  <div class="container">
    <Image
      class="logo"
      src="/icons/logo--white.svg"
      width="90"
      height="52"
      alt="Logo"
      priority
      onclick="window.scrollTo({top: 0});"
    />

    <Nav client:load />
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    box-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.1) inset;
    z-index: 2;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100%, 1280px);
  }

  .logo {
    cursor: pointer;

    @media (min-width: 1280px) {
      width: 6.875rem;
      height: auto;
      aspect-ratio: 90 / 52;
    }
  }
</style>
