.button {
  padding: 0.6rem 1.2rem;
  border: 0.0625rem solid var(--white);
  color: var(--white);
  font-size: 1.4rem;
  background-color: transparent;
  border-radius: 0.3rem;
  transition: all 0.2s ease;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 1.6rem;
  }

  @media (min-width: 1024px) {
    font-size: 2.2rem;
  }
}

.buttonPrimary {
  color: var(--white);
  border: 0.0625rem solid var(--white);
}

.buttonPrimary:hover,
.buttonPrimary:active {
  background-color: var(--white);
  color: var(--primary-dark);
}

.buttonSecondary {
  color: var(--primary-dark);
  border: 0.0625rem solid var(--primary-dark);
}

.buttonSecondary:hover,
.buttonSecondary:active {
  background-color: var(--primary-dark);
  color: var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 2.5rem;
  margin: auto;
}

.formBody {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.formLabel {
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.1rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.2rem;
  }
}

.formControl {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  border: 0.0625rem solid var(--secondary);
  border-radius: 0.3rem;
  transition: all 0.2s ease;

  &:focus {
    outline: none;
    border-color: var(--primary-dark);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  @media (min-width: 768px) {
    font-size: 1.4rem;
    padding: 0.75rem 1rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.8rem;
    padding: 1rem 1.25rem;
  }
}

.formControl::placeholder {
  font-size: 1.2rem;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding-top: 1rem;
}

.successTitle {
  font-size: 1.8rem;

  @media (min-width: 768px) {
    font-size: 2.2rem;
  }

  @media (min-width: 1024px) {
    font-size: 2.6rem;
  }
}

.successName {
  color: var(--primary-dark);
  font-weight: bold;
}

.successDescription {
  font-size: 1.2rem;

  @media (min-width: 768px) {
    font-size: 1.4rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

.successIcon {
  width: 6rem;
  height: 6rem;

  @media (min-width: 768px) {
    width: 7rem;
    height: 7rem;
  }

  @media (min-width: 1024px) {
    width: 8rem;
    height: 8rem;
  }
}
