---
import CountDown from "../../molecules/CountDown/CountDown";

const date = new globalThis.Date("2025-12-13T14:00:00");

const formattedDate = date.toLocaleDateString("es-ES", {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<section class="host" id="date">
  <CountDown client:visible target={date} />

  <p class="date">{formattedDate}</p>
</section>

<style>
  .host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 1rem;
    background-color: var(--primary-dark);

    @media (min-width: 1024px) {
      padding: 2rem;
      gap: 2.5rem;
    }
  }

  .date {
    font-size: 1rem;
    color: var(--white);

    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
  }

  .date:first-letter {
    text-transform: uppercase;
  }
</style>
