---
import CountDown from "@components/molecules/CountDown/CountDown";

const date = new globalThis.Date("2025-12-13T14:00:00");
const endDate = new globalThis.Date("2025-12-13T21:00:00");

let formattedDate = date.toLocaleDateString("es-ES", {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});

let formattedEndDate = endDate.toLocaleDateString("es-ES", {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});

formattedDate = formattedDate.charAt(0).toUpperCase() + formattedDate.slice(1);
formattedEndDate =
  formattedEndDate.charAt(0).toUpperCase() + formattedEndDate.slice(1);

const formattedHour = date.toLocaleTimeString("es-ES", {
  hour: "2-digit",
  minute: "2-digit",
  hour12: true,
});

const formattedEndHour = endDate.toLocaleTimeString("es-ES", {
  hour: "2-digit",
  minute: "2-digit",
  hour12: true,
});
---

<section class="host" id="date">
  <CountDown client:visible target={date} />

  <div class="info">
    <p class="date">
      <span class="info__heading">Día:</span>
      <span class="info__content">{formattedDate}</span>
    </p>
    <p class="hour">
      <span class="info__heading">Hora:</span>
      <span class="info__content">{formattedHour} - {formattedEndHour}</span>
    </p>
  </div>
</section>

<style>
  .host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 1rem;
    background-color: var(--primary-dark);

    @media (min-width: 1024px) {
      padding: 2rem;
      gap: 2.5rem;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.2rem;
    color: var(--white);

    @media (min-width: 768px) {
      font-size: 1.4rem;
    }
  }
</style>
