---
import { Image } from "astro:assets";
---

<button id="nav-toggle" class="toggle" aria-expanded="false">
  <div class="icon">
    <span class="icon--menu">
      <Image src="/icons/menu.svg" alt="Menu" width={52} height={52} />
    </span>
    <span class="icon--close">
      <Image src="/icons/close.svg" alt="Cerrar" width={52} height={52} />
    </span>
  </div>
</button>
<nav id="nav" hidden>
  <div class="menu">
    <div class="list">
      <ul>
        <li><a class="link" href="#guest">Invitado</a></li>
        <li><a class="link" href="#date">Fecha</a></li>
        <li><a class="link" href="#location">Lugar</a></li>
        <li><a class="link" href="#dress-code">Código de vestimenta</a></li>
        <li><a class="link" href="#timeline">Itinerario</a></li>
        <li><a class="link" href="#gifts">Regalos</a></li>
        <li><a class="link" href="#table">Encuentra tu mesa</a></li>
      </ul>
      <a href="#" class="button">Confirma tu asistencia</a>
    </div>

    <div class="cats">
      <div class="cat">
        <Image src="/icons/lolo.svg" alt="Lolo" width={35} height={35} />
        <h2 class="cat__name">Lolo</h2>
      </div>
      <div class="cat">
        <Image src="/icons/michi.svg" alt="Michi" width={35} height={35} />
        <h2 class="cat__name">Michi</h2>
      </div>
      <div class="cat">
        <Image
          src="/icons/escuichi.svg"
          alt="Escuichi"
          width={35}
          height={35}
        />
        <h2 class="cat__name">Escuichi</h2>
      </div>
      <div class="cat">
        <Image src="/icons/bestia.svg" alt="Bestia" width={35} height={35} />
        <h2 class="cat__name">Nene Bestia</h2>
      </div>
    </div>
  </div>
</nav>

<style>
  .toggle {
    border: none;
    background-color: transparent;
    outline: none;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  .icon {
    position: relative;
    width: 3.25rem;
    height: 3.25rem;
  }

  .toggle .icon--menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  .toggle .icon--close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  .toggle[aria-expanded="true"] .icon--menu {
    visibility: hidden;
    opacity: 0;
  }
  .toggle[aria-expanded="true"] .icon--close {
    visibility: visible;
    opacity: 1;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    width: 100%;
    overflow: hidden;

    @media (min-width: 1280px) {
      position: static;
      width: auto;
    }
  }

  .menu {
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    justify-content: space-between;
    width: 100%;
    height: calc(100svh - 5.375rem);
    padding: 1.5rem;
    padding-bottom: 2rem;
    background-color: white;
    transition: right 0.4s ease-in-out;
    overflow-y: auto;

    @media (min-width: 1280px) {
      width: auto;
      height: auto;
      padding: 1rem 0;
      transition: none;
    }
  }

  nav[hidden] .menu {
    right: -100%;

    @media (min-width: 1280px) {
      right: 0;
    }
  }

  .list {
    display: flex;
    width: min(100%, 28.125rem);
    align-items: flex-start;
    flex-direction: column;
    gap: 1.8rem;

    @media (min-width: 1280px) {
      flex-direction: row;
      width: unset;

      align-items: center;
      justify-content: center;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: 1280px) {
      flex-direction: row;
      gap: 1.8rem;
    }
  }

  .button {
    background: #9480b2;
    color: #ffffff;
    padding: 0.5em 1.2em;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;

    &:hover {
      box-shadow: 0 0.1875rem 0.3rem #9480b280;
      transition: box-shadow 0.2s ease-in-out;
    }
  }

  .cats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    place-items: centes;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  .cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
  }

  .cat__name {
    font-size: 0.875rem;
    text-align: center;
  }

  .link {
    position: relative;
    color: currentColor;
    text-decoration: none;
    font-size: 1.25rem;
  }
  .link::after {
    content: "";
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    width: 100%;
    height: 0.0625rem;
    background-color: #9480b2;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  .link:hover::after,
  .link:focus::after {
    transform: scaleX(1);
  }
</style>

<script>
  const toggleBtn = document.getElementById(
    "nav-toggle"
  ) as HTMLButtonElement | null;
  const nav: HTMLElement | null = document.getElementById("nav");
  if (toggleBtn && nav) {
    toggleBtn.addEventListener("click", () => {
      const expanded: boolean =
        toggleBtn.getAttribute("aria-expanded") === "true";
      toggleBtn.setAttribute("aria-expanded", (!expanded).toString());
      nav.hidden = expanded;
    });

    const navLinks = nav.querySelectorAll("a");
    navLinks.forEach((link) => {
      link.addEventListener("click", () => {
        if (toggleBtn.getAttribute("aria-expanded") === "true") {
          toggleBtn.setAttribute("aria-expanded", "false");
          nav.hidden = true;
        }
      });
    });
  }
</script>
