---
import { tables } from "../../data.json";
import type { Guest } from "../../pages/[guest].astro";

interface Props {
  guest: Guest;
}

export type Table = Guest[];

const { guest } = Astro.props;

const table: Table =
  tables.find((guests) => isGuestInTable(guests, guest.id)) || [];

const tableIndex = tables.findIndex((guests) =>
  isGuestInTable(guests, guest.id)
);

function isGuestInTable(guests: Guest[], guestId: string): boolean {
  return guests.some((tableGuest) => tableGuest.id === guestId);
}
---

<section>
  <h3>Mesa {tableIndex + 1}</h3>
  <ul>
    {
      table
        .filter((tableGuest) => tableGuest.id !== guest.id)
        .map((tableGuest) => (
          <>
            <li>{tableGuest.name}</li>
            {tableGuest.coupon && <li>{`Invitado de ${tableGuest.name}`}</li>}
          </>
        ))
    }

    {guest.coupon && <li>Invitado de {guest.name}</li>}
  </ul>
</section>
